apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: <{DEPLOYMENT_NAME}>-hpa
  namespace: <{K8S_NAMESPACE_MESH}>
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: <{DEPLOYMENT_NAME}>
  minReplicas: 5
  maxReplicas: 20
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 60
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 120
      policies:
      - type: Pods
        value: 4
        periodSeconds: 60
      selectPolicy: Max
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
      - type: Percent
        value: 100
        periodSeconds: 60
      - type: Pods
        value: 2
        periodSeconds: 60
      selectPolicy: Max
